{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!-- Header -->


<!-- Home Section -->
<section id="page_home" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Home</h2><br><br>
            </div>
        </div>
        <div class="row">
            {% for listing in listings %}
            <div class="col-md-4 col-sm-6 post-item" onclick="location.href='{% url 'item-detail' %}?id={{ listing.id }}'">
                <a href="#itemModel" class="post-link" data-toggle="modal">
                    <div class="post-hover">
                        <div class="post-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ listing.item.image.all.0.image.url }}" class="img-responsive" alt="">
                </a>
                <div class="post-caption">
                    <h4>{{ listing.title }}</h4>
                    <p class="text-muted">{{ listing.max_accepted_price }} THB</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Food Section -->
<section id="page_food" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Food</h2><br><br>
            </div>
        </div>
    </div>
</section>

<!-- House Section -->
<section id="page_house" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">House</h2><br><br>
            </div>
        </div>
    </div>
</section>

<!-- Kitchen Section -->
<section id="page_kitchen" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kitchen</h2><br><br>
            </div>
        </div>
    </div>
</section>

<!-- Living Room Section -->
<section id="page_living" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Living Room</h2><br><br>
            </div>
        </div>
    </div>
</section>

<!-- Electronic Section -->
<section id="page_elec" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Electronic</h2><br><br>
            </div>
        </div>
    </div>
</section>

<!-- Hardware Section -->
<section id="page_hardware" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hardware</h2><br><br>
            </div>
        </div>
    </div>
</section>

<!-- Item Model -->
<div class="item-modal modal fade" id="itemModel" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="close-modal" data-dismiss="modal">
    <div class="lr">
        <div class="rl">
        </div>
    </div>
</div>
<div class="container">

<div id="item_detail" style="display: block;">
    <div class="col-xs-12 col-sm-12">
        <h2 class="section-heading">Item Detail</h2><br><br>
    </div>
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-4 sidebar-offcanvas" style="margin-left: 20px;">
            <div class="gallery" align="center">
                <br/>
                <div class="preview" align="center">
                    <img name="preview" src="{% static 'img/items/sample1.jpg' %}" alt="">
                </div>
                <div class="thumbnails">
                    <img onmouseover="preview.src = img1.src" name="img1" src="{% static 'img/items/sample1.jpg' %}" alt=""/>
                    <img onmouseover="preview.src = img2.src" name="img2" src="{% static 'img/items/sample2.jpg' %}" alt=""/>
                    <img onmouseover="preview.src = img3.src" name="img3" src="{% static 'img/items/sample3.jpg' %}" alt=""/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5" style="margin-top: 20px; margin-left: 20px;" align="left">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Created Date</span>
                    <input type="text" class="form-control" readonly value="26-Nov-2016">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Valid For</span>
                    <input type="text" class="form-control" readonly value="3">
                    <span class="input-group-addon">Hours</span>
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Item Name</span>
                    <input type="text" class="form-control" readonly value="Background Color">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Brand</span>
                    <input type="text" class="form-control" readonly value="iBackground">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Category</span>
                    <input type="text" class="form-control" readonly value="House">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Maximum Price</span>
                    <input type="text" class="form-control" readonly value="100">
                    <span class="input-group-addon">THB</span>
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Tags</span>
                    <input type="text" class="form-control" readonly value="red, green, blue, color">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <input type="text" class="form-control" readonly value="It's a nice background">
                </div><br>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 sidebar-offcanvas" style="margin-top: 20px; margin-left: 20px;">
            <div class="list-group">
                <a href="#" class="list-group-item" onclick="switchLR('item_detail');switchLR('item_detail');">Item Details</a>
                <a href="#" class="list-group-item" onclick="
switchLR('item_detail');switchLR('offer_list');">View Offer List</a>
                <a href="#" class="list-group-item" onclick="switchLR('item_detail');switchLR('offer_now');">Offer This Item</a>
            </div>
        </div>
    </div>
</div><!-- end item detail body-->

<div id="offer_list" style="display: none;">
    <div class="col-xs-12 col-sm-12">
        <h2 class="section-heading">View Offer List</h2><br><br>
    </div>
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9" style="margin-top: 20px; margin-left: 20px;" align="left">
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-container">
                            <tr data-status="pagado">
                                <td onclick="location.href = '#'">
                                    <div class="media">
                                        <a href="#offer_detail" class="pull-left" onclick="
switchLR('offer_list');switchLR('offer_detail');">
                                            <img src="{% static 'img/items/sample1.jpg' %}" class="media-photo" height="75" width="75">
                                        </a>
                                        <div class="media-body">
                                            <span class="media-meta pull-right">Nov. 26, 2016, 12:28 p.m.</span>
                                            <h4 class="title" href="/item/offer-detail/?id=1">
                                                Background Color
                                            </h4>
                                            <p class="summary" style="overflow: hidden; text-overflow: ellipsis;">100 THB</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-container">
                            <tr data-status="pagado">
                                <td onclick="location
    .href = '#'">
                                    <div class="media">
                                        <a href="#offer_detail" class="pull-left" onclick="switchLR('offer_list');switchLR('offer_detail');">
                                            <img src="{% static 'img/items/sample1.jpg' %}" class="media-photo" height="75" width="75">
                                        </a>
                                        <div class="media-body">
                                            <span class="media-meta pull-right">Nov. 26, 2016, 12:29 p.m.</span>
                                            <h4 class="title" href="/item/offer-detail/?id=1">
                                                Background Color
                                            </h4>
                                            <p class="summary" style="overflow: hidden; text-overflow: ellipsis;">99 THB</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-container">
                            <tr data-status="pagado">
                                <td onclick="location.href = '#'">
                                    <div class="media">
                                        <a href="#offer_detail" class="pull-left" onclick="switchLR('offer_list');
switchLR('offer_detail');">
                                            <img src="{% static 'img/items/sample1.jpg' %}" class="media-photo" height="75" width="75">
                                        </a>
                                        <div class="media-body">
                                            <span class="media-meta pull-right">Nov. 26, 2016, 12:30 p.m.</span>
                                            <h4 class="title" href="/item/offer-detail/?id=1">
                                                Background Color
                                            </h4>
                                            <p class="summary" style="overflow: hidden; text-overflow: ellipsis;">98 THB</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 sidebar-offcanvas" style="margin-top: 20px; margin-left: 40px;">
            <div class="list-group">
                <a href="#" class="list-group-item" onclick="switchLR('offer_list');switchLR('item_detail');">Item Details</a>
                <a href="#" class="list-group-item" onclick="switchLR('offer_list');switchLR('offer_list');
">View Offer List</a>
                <a href="#" class="list-group-item" onclick="switchLR('offer_list');switchLR('offer_now');">Offer This Item</a>
            </div>
        </div>
    </div>
</div><!-- end view offer -->

<div id="offer_now" style="display: none;">
    <div class="col-xs-12 col-sm-12">
        <h2 class="section-heading">Offer This item</h2><br><br>
    </div>
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-4 sidebar-offcanvas" style="margin-left: 20px;">
            <div class="gallery" align="center">
                <br/>
                <div class="preview_offernow" align="center">
                    <img name="previews" src="{% static 'img/noimage.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5" style="margin-top: 20px; margin-left: 20px;" align="left">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Title</span>
                    <input type="text" class="form-control" aria-label="Amount">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <input type="text" class="form-control" aria-label="Amount">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Valid for</span>
                    <input type="text" class="form-control" aria-label="Amount">
                    <span class="input-group-addon">Hours</span>
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Price</span>
                    <input type="text" class="form-control" aria-label="Amount">
                    <span class="input-group-addon">THB</span>
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Tag</span>
                    <input type="text" class="form-control" aria-label="Amount">
                </div><br>
                <span class="input-group-addon">Image</span>
                <input type="file" style="width: 456px"><br><br>

                <button type="submit" class="btn btn-xl" style="margin-left: 125px;">Offer Now !</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 sidebar-offcanvas" style="margin-top: 20px; margin-left: 20px;">
            <div class="list-group">
                <a href="#" class="list-group-item" onclick="switchLR('offer_now');switchLR('item_detail');">Item Details</a>
                <a href="#" class="list-group-item" onclick="switchLR('offer_now');
switchLR('offer_list');">View Offer List</a>
                <a href="#" class="list-group-item" onclick="switchLR('offer_now');switchLR('offer_now');">Offer This Item</a>
            </div>
        </div>
    </div>
</div><!-- end offer now -->

<div id="offer_detail" style="display: none;">
    <div class="col-xs-12 col-sm-12">
        <h2 class="section-heading">Offer Detail</h2><br><br>
    </div>
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-4 sidebar-offcanvas" style="margin-left: 20px;">
            <div class="gallery" align="center">
                <br/>
                <div class="preview_offernow" align="center">
                    <img name="previews" src="{% static 'img/items/sample1.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5" style="margin-top: 20px; margin-left: 20px;" align="left">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Title</span>
                    <input type="text" class="form-control" readonly value="Background Color">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <input type="text" class="form-control" readonly value="It's a nice background">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Valid for</span>
                    <input type="text" class="form-control" readonly value="1">
                    <span class="input-group-addon">Hours</span>
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Price</span>
                    <input type="text" class="form-control" readonly value="95">
                    <span class="input-group-addon">THB</span>
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">Tag</span>
                    <input type="text" class="form-control" readonly value="buyme">
                </div><br>

                <div class="text-center">
                    <button type="submit" class="btn btn-xl">Delete it !</button>
                    <a href="#" class="btn btn-xl" onclick="switchLR('offer_detail');switchLR('payment');">Purchase now !</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 sidebar-offcanvas" style="margin-top: 20px; margin-left: 20px;">
            <div class="list-group">
                <a href="#" class="list-group-item" onclick="
switchLR('offer_detail');switchLR('offer_list');">Back to Offer List</a>
            </div>
        </div>
    </div>
</div><!-- end offer detail -->

<div id="payment" style="display: none;">
    <div class="col-xs-12 col-sm-12">
        <h2 class="section-heading">Payment</h2><br><br>
    </div>
    <div class="row row-offcanvas row-offcanvas-right">

        <div id="payment_main" style="display: block;">
            <div class="col-xs-12 col-sm-3 sidebar-offcanvas" style="margin-left: 20px;">
                <div class="form-group">
                    <h3 class="section-heading">Payment Method</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="switchLR('payment_main');switchLR('payment_paypal');">Paypal</a>
                        <a href="#" class="list-group-item" onclick="
switchLR('payment_main');switchLR('payment_visa');">Visa</a>
                        <a href="#" class="list-group-item" onclick="switchLR('payment_main');switchLR('payment_master');">MasterCard</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" style="margin-top: 0px; margin-left: 20px;" align="left">
                <div class="form-group">

                </div>
            </div>
        </div>

        <div id="payment_paypal" style="display: none;">
            <div class="col-xs-12 col-sm-3 sidebar-offcanvas" style="margin-left: 20px;">
                <div class="form-group">
                    <h3 class="section-heading">Payment Method</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="
switchLR('payment_paypal');switchLR('payment_paypal');">Paypal</a>
                        <a href="#" class="list-group-item" onclick="switchLR('payment_paypal');switchLR('payment_visa');">Visa</a>
                        <a href="#" class="list-group-item" onclick="
switchLR('payment_paypal');switchLR('payment_master');">MasterCard</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" style="margin-left: 20px;" align="left">
                <div class="form-group">
                    <h3 class="section-heading">Paypal</h3>
                    <div class="input-group">
                        <span class="input-group-addon">Username</span>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">Password</span>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div><br>
                    <div class="text-center">
                        <a href="#" class="btn btn-xl" onclick="switchLR('');switchLR('');">Continue</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="payment_visa" style="display: none;">
            <div class="col-xs-12 col-sm-3 sidebar-offcanvas" style="margin-left: 20px;">
                <div class="form-group">
                    <h3 class="section-heading">Payment Method</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="switchLR('payment_visa');
switchLR('payment_paypal');">Paypal</a>
                        <a href="#" class="list-group-item" onclick="switchLR('payment_visa');switchLR('payment_visa');">Visa</a>
                        <a href="#" class="list-group-item" onclick="switchLR('payment_visa');
switchLR('payment_master');">MasterCard</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" style="margin-left: 20px;" align="left">
                <div class="form-group">
                    <h3 class="section-heading">Visa</h3>
                    <div class="input-group">
                        <span class="input-group-addon">Card number</span>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">Expiration date</span>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">Security code</span>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div><br>
                    <div class="text-center">
                        <a href="#" class="btn btn-xl" onclick="switchLR('');switchLR('');">Continue</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="payment_master" style="display: none;">
            <div class="col-xs-12 col-sm-3 sidebar-offcanvas" style="margin-left: 20px;">
                <div class="form-group">
                    <h3 class="section-heading">Payment Method</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="switchLR('payment_master');switchLR('payment_paypal');">Paypal</a>
                        <a href="#" class="list-group-item" onclick="
switchLR('payment_master');switchLR('payment_visa');">Visa</a>
                        <a href="#" class="list-group-item" onclick="switchLR('payment_master');switchLR('payment_master');">MasterCard</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" style="margin-left: 20px;" align="left">
                <div class="form-group">
                    <h3 class="section-heading">MasterCard</h3>
                    <div class="input-group">
                        <span class="input-group-addon">Card number</span>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">Expiration date</span>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon">Security code</span>
                        <input type="text" class="form-control" aria-label="Amount">
                    </div><br>
                    <div class="text-center">
                        <a href="#" class="btn btn-xl" onclick="
switchLR('');switchLR('');">Continue</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-2 sidebar-offcanvas" style="margin-top: 20px; margin-left: 20px;">
            <div class="list-group">
                <a href="#" class="list-group-item" onclick="switchLR('payment');switchLR('offer_detail');">Back to offer info</a>
            </div>
        </div>

    </div>
</div><!-- end payment -->

</div><!-- end container -->
</div><!-- end modal-content -->
</div><!-- end modal-dialog -->
</div><!-- end item model -->

<!-- Search Section -->
<section id="page_search">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Search</h2><br><br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h3>Search for</h3>
                        <input type="text" class="form-control">
                        <p class="help-block text-danger"></p>
                    </div><br/>
                    <div class="form-group">
                        <h3>Search including</h3>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Item thread titles
                            </label>
                            <label></label>
                            <label>
                                <input type="checkbox"> Item posts
                            </label>
                            <label></label>
                            <label>
                                <input type="checkbox"> Item tag
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" align="center">
                        <h3>Categories</h3>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All categories <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="list-group-item">Food</a>
                                </li>
                                <li>
                                    <a class="list-group-item">House</a>
                                </li>
                                <li>
                                    <a class="list-group-item">Kitchen</a>
                                </li>
                                <li>
                                    <a class="list-group-item">Living Room</a>
                                </li>
                                <li>
                                    <a class="list-group-item">Electronic</a>
                                </li>
                                <li>
                                    <a class="list-group-item">Hardware</a>
                                </li>
                            </ul>
                        </div>
                    </div><br/>
                    <div class="form-group" align="center">
                        <h3>Post Time</h3>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All times <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="list-group-item">Last hour</a>
                                </li>
                                <li>
                                    <a class="list-group-item">Today</a>
                                </li>
                                <li>
                                    <a class="list-group-item">This week</a>
                                </li>
                                <li>
                                    <a class="list-group-item">This month</a>
                                </li>
                                <li>
                                    <a class="list-group-item">This year</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" align="center">
                        <h3>Sort by</h3>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Name <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="list-group-item">Post time</a>
                                </li>
                                <li>
                                    <a class="list-group-item">View count</a>
                                </li>
                                <li>
                                    <a class="list-group-item">Rating</a>
                                </li>
                            </ul>
                        </div>
                    </div><br/>
                    <div class="form-group" align="center">
                        <h3>Price</h3>
                        <div class="input-group">
                            <span class="input-group-addon">From</span>
                            <input type="text" class="form-control" aria-label="Amount">
                            <span class="input-group-addon">THB</span>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon">To</span>
                            <input type="text" class="form-control" aria-label="Amount">
                            <span class="input-group-addon">THB</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 text-center">
                    <h5 style="color: white"> .</h5>
                    <button type="button" class="btn btn-xl">Search Now !</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Listing Section -->
<section id="page_listing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Listing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-5">
                        <h3 class="section-heading">List</h3>
                        <div class="input-group">
                            <span class="input-group-addon">Listing Title</span>
                            <input type="text" class="form-control" aria-label="Amount">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">Listing Description</span>
                            <input type="text" class="form-control" aria-label="Amount">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">Valid for</span>
                            <input type="text" class="form-control" aria-label="Amount">
                            <span class="input-group-addon">Hours</span>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">Brand</span>
                            <input type="text" class="form-control" aria-label="Amount">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">Listing Tag</span>
                            <input type="text" class="form-control" aria-label="Amount">
                        </div><br>
                    </div>
                    <div class="col-md-5">
                        <h3 class="section-heading">Item</h3>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Item Name</span>
                                <input type="text" class="form-control" aria-label="Amount">
                            </div><br>
                            <div class="input-group">
                                <span class="input-group-addon">Item Description</span>
                                <input type="text" class="form-control" aria-label="Amount">
                            </div><br>
                            <div class="input-group">
                                <span class="input-group-addon">Categories</span>
                                <input type="text" class="form-control" aria-label="Amount">
                            </div><br>
                            <div class="input-group">
                                <span class="input-group-addon">Maximum price</span>
                                <input type="text" class="form-control" aria-label="Amount">
                                <span class="input-group-addon">THB</span>
                            </div><br>
                            <div class="input-group">
                                <span class="input-group-addon">Item Tag</span>
                                <input type="text" class="form-control" aria-label="Amount">
                            </div><br>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="btn btn-xl">Create a list Now !</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Profile Section -->
<section id="page_profile">
    <div class="container">

        <div id=login style="display: block;">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="section-heading">Login</h2>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Username *" id="login_username" required data-validation-required-message="Please enter your username." style="background-color: black">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="(Or) Your Email *" id="login_email" required data-validation-required-message="Please enter your email." style="background-color: black">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" id="login_password" required data-validation-required-message="Please enter your password." style="background-color: black">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="col-lg-12 text-center">
                            <li>
                                <button class="btn btn-xl" onclick="switchLR('login');switchLR('register');" style="float: left;">Need account ?</button>
                                <button class="btn btn-xl" onclick="
switchLR('login');switchLR('profile');" style="float: right;">Login Now !</button>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end login -->

        <div id=register style="display: none;">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="section-heading">Register</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Username *" id="regis_username" required data-validation-required-message="Please enter your username." style="background-color: black">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Email *" id="regis_email" required data-validation-required-message="Please enter your email address." style="background-color: black">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password *" id="regis_password" required data-validation-required-message="Please enter your password." style="background-color: black">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-xl" onclick="switchLR('register');switchLR('login');" style="float: left;">Back to login</button>
                        <button class="btn btn-xl" onclick="switchLR('register');switchLR('profile');
" style="float: right;">Register Now !</button>
                    </div>
                </div>
            </div>
        </div><!-- end register -->

        <div id="profile" style="display: none;">
            <div class="col-xs-12 col-sm-12 text-center">
                <h2 class="section-heading">Profile</h2><br><br>
            </div>
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-4 sidebar-offcanvas">
                    <div class="gallery" align="center">
                        <br/>
                        <div class="preview" align="center">
                            <img src="{% static 'img/profile.jpg' %}" width="300" height="300">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5" style="margin-top: 20px; margin-left: 20px;" align="left">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Username</span>
                            <input type="text" class="form-control" readonly value="XXXXXXX">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">Created Date</span>
                            <input type="text" class="form-control" readonly value="26-Nov-2016">
                        </div><br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 sidebar-offcanvas" style="margin-top: 20px; margin-left: 20px;">
                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="switchLR('profile');switchLR('profile');">Profile</a>
                        <a href="#" class="list-group-item" onclick="switchLR('profile');switchLR('transac');">Transactions</a>
                        <a href="#" class="list-group-item" onclick="switchLR('profile');
switchLR('login');">Logout</a>
                    </div>
                </div>
            </div>
        </div><!-- end profile page -->

        <div id="transac" style="display: none;">
            <div class="col-xs-12 col-sm-12 text-center">
                <h2 class="section-heading">Transactions</h2><br><br>
            </div>
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9" style="margin-top: 20px; margin-left: 20px;" align="left">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Paypal</span>
                            <input type="text" class="form-control" readonly value="-200 THB">
                            <span class="input-group-addon">29-Nov-2016</span>
                            <span class="input-group-addon">17:30</span>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">Visa</span>
                            <input type="text" class="form-control" readonly value="-300 THB">
                            <span class="input-group-addon">29-Nov-2016</span>
                            <span class="input-group-addon">05:24</span>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">MasterCard</span>
                            <input type="text" class="form-control" readonly value="-400 THB">
                            <span class="input-group-addon">29-Nov-2016</span>
                            <span class="input-group-addon">23:46</span>
                        </div><br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 sidebar-offcanvas" style="margin-top: 20px; margin-left: 20px;">
                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="switchLR('transac');switchLR('profile');">Profile</a>
                        <a href="#" class="list-group-item" onclick="switchLR('transac');switchLR('transac');">Transactions</a>
                        <a href="#" class="list-group-item" onclick="
switchLR('transac');switchLR('login');">Logout</a>
                    </div>
                </div>
            </div>
        </div><!-- end transaction page -->

    </div>
</section>
{% endblock %}