{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}main{% endblock %}
{% block body %}
{#     <div class="jumbotron" align="center">#}
{#        <h1>Purchaes</h1>#}
{#    </div>#}
    <h3>Popular Items</h3>
    <div class="row">

        <div class="col-sm-4 col-lg-4 col-md-4">
            <h5>Collectibles & art</h5>
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    {% for order in orders %}
                        {% if order.category == "Collectibles & art" %}
                            <h4 class="pull-right">฿ {{order.price_min}}</h4>
                            <h4><a href="#">{{order.title}}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <h5>Electronics</h5>
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    {% for order in orders %}
                        {% if order.category == "Electronics" %}
                            <h4 class="pull-right">฿ {{order.price_min}}</h4>
                            <h4><a href="#">{{order.title}}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <h5>Entertainment memorabilia</h5>
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    {% for order in orders %}
                        {% if order.category == "Entertainment memorabilia" %}
                            <h4 class="pull-right">฿ {{order.price_min}}</h4>
                            <h4><a href="#">{{order.title}}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <h5>Fashion</h5>
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    {% for order in orders %}
                        {% if order.category == "Fashion" %}
                            <h4 class="pull-right">฿ {{order.price_min}}</h4>
                            <h4><a href="#">{{order.title}}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <h5>Home & garden</h5>
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    {% for order in orders %}
                        {% if order.category == "Home & garden" %}
                            <h4 class="pull-right">฿ {{order.price_min}}</h4>
                            <h4><a href="#">{{order.title}}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <h5>Motors</h5>
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    {% for order in orders %}
                        {% if order.category == "Motors" %}
                            <h4 class="pull-right">฿ {{order.price_min}}</h4>
                            <h4><a href="#">{{order.title}}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <h5>Sporting goods</h5>
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    {% for order in orders %}
                        {% if order.category == "Sporting goods" %}
                            <h4 class="pull-right">฿ {{order.price_min}}</h4>
                            <h4><a href="#">{{order.title}}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <h5>Toys & Hobbies</h5>
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    {% for order in orders %}
                        {% if order.category == "Toys & Hobbies" %}
                            <h4 class="pull-right">฿ {{order.price_min}}</h4>
                            <h4><a href="#">{{order.title}}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <h5>Other categories</h5>
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    {% for order in orders %}
                        {% if order.category == "Other categories" %}
                            <h4 class="pull-right">฿ {{order.price_min}}</h4>
                            <h4><a href="#">{{order.title}}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


    </div><!--/row-->
{% endblock %}
