{% extends 'base.html' %}
{% load static %}
{% block title%}

{% endblock %}


{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static "jcarousel/jcarousel.connected-carousels.css"%}">
    <script src="{% static "jcarousel/jcarousel.min.js" %}"></script>
    <script src="{% static "jcarousel/jcarousel.connected-carousels.js" %}"></script>
    <style type="text/css">
        button { margin-right: 15px; }
        .col-md-4 { font: bold Georgia;
            color: #808084;
            margin-bottom: 15px; }
        .detail-box { margin-right: 40px;  }

    </style>

    <div class="row">
        {{ listing.title }} by {{ listing.owner.username }}
    </div>
    <div class="row">


        <div class="col-md-6">

            <img src="{% with listing.item.image.all|first as image %}{{image.image.url }}{% endwith %}">

        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    Create Date
                </div>
                <div class="col-md-8">
                    {{ listing.created_date }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Valid For
                </div>
                <div class="col-md-8">
                    {{ listing.valid_for }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Item Name
                </div>
                <div class="col-md-8">
                    {{ listing.item.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Brand
                </div>
                <div class="col-md-8">
                    {{ listing.item.brand.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Category
                </div>
                <div class="col-md-8">
                    {{ listing.item.category.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Max Accepted Price
                </div>
                <div class="col-md-8">
                    {{ listing.max_accepted_price }} ฿
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Tags
                </div>
                <div class="col-md-8">
                    {% for tag in listing.tags.all %}
                        {{ tag.name }},
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Description
                </div>
                <div class="col-md-8">

                </div>
            </div>
            <div class="row detail-box">
                <textarea rows="5" style="min-width: 100%" readonly>{{ listing.description }}</textarea>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">Extra Images</div>
            <div class="connected-carousels">
                <div class="stage">
                    <div class="carousel carousel-stage">
                        <ul>
                            {% for image in listing.item.image.all %}
                                <li><img src="{{ image.image.url }}"  width="250" height="250" alt=""> </li>
                            {% endfor %}
                    </div>
                    <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
                    <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
                </div>
                <div class="navigation">
                    <a href="#" class="prev prev-navigation">&lsaquo;</a>
                    <a href="#" class="next next-navigation">&rsaquo;</a>
                    <div class="carousel carousel-navigation">
                        <ul>
                            {% for image in listing.item.image.all %}
                                <li><img src="{{ image.image.url }}"  width="50" height="50" alt=""> </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 buttonForOrder">
            <CENTER>
                <button type="button" class="btn btn-info" onclick="location.href='{%url 'item:offer-create'%}?id={{ listing.id }}'">Offer Now</button>
                <button type="button" class="btn btn-info" onclick="location.href='{%url 'item:offer-search'%}?id={{ listing.id }}'">View Offer</button>
            </CENTER>
        </div>
    </div>





{% endblock %}
