{% extends 'base.html' %}
{% load static %}
{% block header %}listing{% endblock %}
{% block body %}
    <script src="{% static "items/bootstrapTagsInput/bootstrap-tagsinput.js" %}"></script>
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-8 col-lg-6">
            <form class="form-group" action="{% url 'item:item-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                Listing title:<br>
                <input class="form-control" type="text" name="title"><br>
                Listing Description:<br>
                <input class="form-control" type="text" name="description"><br>
                Valid for(Hour):<br>
                <input class="form-control" type="number" name="valid_for"><br>
                Listing tag:<br>
                <input class="form-control" type="text" role="combobox" name="tag-listing"><br>
                Item name:<br>
                <input class="form-control" type="text" name="name"><br>
                Item description:<br>
                <input class="form-control" type="text" name="description-item"><br>
                Brand:<br>
                <input class="form-control" type="text" name="brand"><br>
                Images:<br>
                <input class="form" type="file" name="image" accept="image/*" multiple><br>
                Item tag:<br>
                <input class="form-control" type="text" role="combobox" name="tag-item"><br>
                Category:<br>
                <select class="form-control" name="category">
                    <option value="">Select</option>
                    <option value="Food">Food</option>
                    <option value="Home">Home</option>
                    <option value="Electronic">Electronic</option>
                    <option value="Hardware">Hardware</option>
                </select>
                 <label for="price-max">Max Price:</label>
                <input type="range" name="max_accepted_price" id="price-max" value="800" min="0" max="1000">
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
        </div>
{% endblock %}
