{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Purcha.es</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Purcha.es</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#page_home">Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Categories<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background-color: transparent">
                        <li>
                            <a href="#page_food" class="list-group-item page-scroll" style="background-color: black">Food</a>
                        </li>
                        <li>
                            <a href="#page_house" class="list-group-item page-scroll" style="background-color: black">House</a>
                        </li>
                        <li>
                            <a href="#page_kitchen" class="list-group-item page-scroll" style="background-color: black">Kitchen</a>
                        </li>
                        <li>
                            <a href="#page_living" class="list-group-item page-scroll" style="background-color: black">Living Room</a>
                        </li>
                        <li>
                            <a href="#page_elec" class="list-group-item page-scroll" style="background-color: black">Electronic</a>
                        </li>
                        <li>
                            <a href="#page_hardware" class="list-group-item page-scroll" style="background-color: black">Hardware</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="page-scroll" href="#page_search">Search</a>
                </li>
                <li>
                    <a href="{% url 'item-add' %}">Listing</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a class="page-scroll" href="#page_profile">Profile</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown" href="z#" data-toggle="dropdown">
                        <strong>Login</strong>
                    </a>
                    <ul class="dropdown-menu loginmodal-container" style="padding: 15px; padding-bottom: 15px;">
                        <!-- Login form here -->
                        <form action="{% url 'login' %}" method="post" accept-charset="UTF-8">
                            {% csrf_token %}
                            username:
                            <input id="user_username" style="margin-bottom: 15px;" type="text" name="username"
                                   size="50"/>
                            password:
                            <input id="user_password" style="margin-bottom: 15px;" type="password"
                                   name="password" size="50"/>
                            <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox"
                                   name="remember_me" value="1"/>
                            <label class="string optional" for="user_remember_me"> Remember me</label>

                            <input class="btn btn-primary"
                                   style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit"
                                   name="commit" value="Sign In"/>
                        </form>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Store!</div>
            <div class="intro-heading">Find What You Want</div>
            <a href="#page_home" class="page-scroll btn btn-xl">Let's go !</a>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Untitled Company 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="https://github.com/benwrk/Purchaes">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright">Software & Knowledge Engineering @Kasetsart</span>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Profile Form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>

<!-- Theme JavaScript -->
<script src="{% static 'js/agency.min.js' %}"></script>

</body>

</html>